@media (max-width: 35.6em) {
  html {
    font-size: 57.5%;
  }

  .main {
    max-width: 35.6rem;
  }

  .numpad {
    grid-template-columns: repeat(4, 7.2rem);
    grid-template-rows: repeat(5, 6.4rem);

    width: auto;
    height: 42rem;
    padding: 1.6rem;
  }

  .numpad button {
    border-radius: 5px;
    width: auto;
  }
}
